<div class="carousel-container">
    <div class="carousel-wide">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>        
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-mon01.jpg?v=10" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-tue01.jpg?v=7" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-wed01.jpg?v=11" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-thu01.jpg?v=10" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-fri01.jpg?v=7" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-sat01.jpg?v=8" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://statics.tver.jp/images/content/thumbnail/special/xlarge/win23-sun01.jpg?v=6" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>