<div class="latest-drama-container">
    <div class="latest-drama-width">
        <div class="latest-drama-header">
            <div class="latest-drama-header-text-container">
                <img class="latest-drama-header-icon" src="/img/icon_latest.png">
                <a href="/latest">本季最新日本劇集</a>
            </div>
            <div class="latest-drama-header-underline"></div>
        </div>
        
        <div class="latest-drama-photo-outer-container">
            <img class="latest-drama-prev-btn" id="latestDramaPrevBtn" src="/img/icon_left_arrow.png">
            <div class="latest-drama-photo-container" id="latestDramaPhotoContainer"></div>
            <img class="latest-drama-next-btn" id="latestDramaNextBtn" src="/img/icon_right_arrow.png">
        </div>
    </div>
</div>