<div class="timetable-container">
    <div class="timetable-width">
        <div class="timetable-header">本季播放時間表</div>
        <div class="timetable">
            <div class="timetable-list">
                <div class="timetable-list-header">星期一</div>
                <div id="timetableMonContainer"></div>
            </div>
            <div class="timetable-list">
                <div class="timetable-list-header">星期二</div>
                <div id="timetableTueContainer"></div>
            </div>
            <div class="timetable-list">
                <div class="timetable-list-header">星期三</div>
                <div id="timetableWedContainer"></div>
            </div>
            <div class="timetable-list">
                <div class="timetable-list-header">星期四</div>
                <div id="timetableThurContainer"></div>
            </div>
            <div class="timetable-list">
                <div class="timetable-list-header">星期五</div>
                <div id="timetableFriContainer"></div>
            </div>
            <div class="timetable-list">
                <div class="timetable-list-header">星期六</div>
                <div id="timetableSatContainer"></div>
            </div>
            <div class="timetable-list">
                <div class="timetable-list-header">星期日</div>
                <div id="timetableSunContainer"></div>
            </div>
        </div>
    </div>
</div>