.add-drama-width {
    width: 1200px;
    margin: 80px 0px 300px 0px;
}

.form-label {
    font-weight: bold !important;
    font-size: 18px !important;
}

.form-select,
.input-date {
    cursor: pointer !important;
}

.add-drama-left-bar {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(223, 218, 218);
}

.add-drama-left-bar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0px -8px 0px -8px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    background-color: rgb(2, 177, 247);
}

.add-drama-left-bar-margin {
    margin-right: 5px !important;
}

.add-drama-left-bar-point {
    text-align: left;
    margin: 20px 5px 10px 5px;
    font-size: 17px;
}

.btn {
    margin-top: 30px !important;
    font-weight: bold !important;
    color: #fff !important;
    background-color: rgb(2, 177, 247) !important;
}

.btn:hover {
    opacity: 0.8 !important;
}


