/* CSS Reset */
html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    margin-bottom: 160px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}


/* Navigation Bar */
.nav-bar-center {
    display: flex;
    z-index: 10;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #1f2b3e;;
    font-size: 17px;
    font-weight: bold;
}

.nav-bar-width {
    width: 1200px;
}

.nav-bar {
    display: flex;
    align-items: center;
    margin: 10px;
}

.nav-bar-left-title {
    display: flex;
    flex: auto;
    align-items: center;
    width: 50%;
}

.nav-bar-left-title-web-title {
    flex: none;
    cursor: pointer;
}

.nav-bar-left-title-web-title-color {
    color: #1f2b3e;
}

.nav-bar-left-title-drama-list {
    flex: none;
    margin-left: 20px;
    cursor: pointer;
}

.nav-bar-right-title {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.nav-bar-right-title-add-drama {
    flex: none;
    cursor: pointer;
}

.nav-bar-right-title-signin {
    flex: none;
    margin-left: 20px;
    cursor: pointer;
}


/* Footer */
.footer {
    display: flex;
    position: absolute;
    bottom: 20;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: #1f2b3e;
    color: #fff;
    font-weight: bold;
    text-align: center;
}