/* Introduction */
.drama-banner-center {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    height: 600px;
    /* background-image: url("https://statics.tver.jp/images/content/thumbnail/episode/xlarge/epvl45euhr.jpg?v=56"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.transparent-layer {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    /* background-color: rgba(220, 150, 148, 0.84); */
}

.drama-banner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-top: 50px;
}

.drama-photo-container {
    z-index: 3;
    flex: auto;
    width: 50%;
    text-align: center;
}

.drama-photo {
    width: 95%;
    height: 330px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.drama-details-container {
    /* font-size: 20px; */
    /* font-weight: bold; */
    z-index: 3;
    flex: auto;
    width: 50%;
    border-radius: 10px;
}

.drama-details-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

#dramaCategory,
#dramaIntroduction {
    margin: 0px 10px 10px 10px;
    font-size: 17px;
}

.drama-details-brief-title,
#dramaTV {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px 0px 10px;
}

.drama-details-date-of-boardcast-container,
.drama-details-day-time-container {
    margin-left: 10px;
}

.drama-details-day-time,
.drama-details-date-of-boardcast {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    font-size: 17px;
}

.drama-details-date-of-boardcast-title {
    margin-right: 10px;
}

.drama-episode,
[data-drama-episode] {
    display: flex;
    z-index: 3;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin: 10px;
    font-weight: bold;
    color: #000;
}

.drama-episode-title {
    flex: auto;
    width: 20%;
    color: #000;
}

.drama-edit {
    position: absolute;
    /* margin: 10px auto; */
    top: 530px;
    background-color: #032541;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    z-index: 3;
}

.drama-edit:hover {
    opacity: 0.8;
}


/* Cast */
.cast-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cast-header-width {
    width: 1200px;
}

.cast-header {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.cast-center {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
}

#castContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.cast {
    flex: none;
    width: 9.45%;
    margin: 10px;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.cast-photo {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.cast-actor {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.cast-actor-name {
    font-weight: bold;
    font-size: 18px;
}

.cast-cast-name {
    font-size: 15px;
    color: #636c7d;
}


/* Rating */
.rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-width {
    width: 1200px;

}

.rating {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.rating-chart {
    width: 70%;
    height: auto;
    margin: auto;
}


/* Discuss */
.discuss-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.discuss-width {
    width: 900px;
}

.discuss {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.discuss-content {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.discuss-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.discuss-title-user-profile {
    flex: none;
    width: 45px;
    margin-right: 10px;
}

.discuss-title-user-profile-picture {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.discuss-title-user-content {
    flex: auto;
    width: 85%;
}

.discuss-post {
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
}

.discuss-reply {
    display: flex;
    align-items: center;
    padding: 10px;
}

.discuss-reply-icon-like,
.discuss-reply-icon-reply {
    width: 15px;
    height: auto;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    margin-left: 5px;
}

.discuss-reply-like-count,
.discuss-reply-quote {
    margin: 0px 10px 0px 5px;
    font-size: 14px;
}


/* Media */
.media-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-width {
    width: 1200px;
    height: auto;
}

.media {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.media-video-container {
    text-align: center;
}

.media-video {
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 490px;
    height: 280px;
}

/* Drama Video */
.video-container {
    display: none;
}

.video {
    position: fixed;
    top: 10%;
    left: 18%;
    width: 65%;
    height: auto;
    object-position: center;
    z-index: 12;
}

.video-btn-jp,
.video-btn-chi,
.video-btn-user {
    cursor: pointer;
}

.video-close-btn {
    position: fixed;
    width: 25px;
    height: 25px;
    margin: 20px;
    color: green;
    font-size: 50px;
    font-weight: bold;
    z-index: 12;
    cursor: pointer;
}

.video-close-btn:hover {
    opacity: 0.8;
}

.video-layer {
    display: block;
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.884);
}

.video-navigation-bar-layer {
    display: block;
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.884);
}

.video-title {
    position: fixed;
    color: #fff;
    padding: 19px;
    margin-left: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 12;
}

.nav.nav-tabs {
    margin: 10px;
}

.nav-link.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.13) !important;
}




/* Separator */
.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    width: 1200px;
    margin: 50px 0px 50px 0px;
}

/* Edit Drama Information */
.edit-drama-content {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.individual-edit-btn {
    width: 20px;
    height: 20px;
}

#edit1{
    position: absolute;
    transform: translate(114px, -33px);
    cursor: pointer;
}

#edit2{
    position: absolute;
    transform: translate(66px, -26px);
    cursor: pointer;
}

#edit3{
    position: absolute;
    transform: translate(124px, -26px);
    cursor: pointer;
}

#edit4{
    position: absolute;
    transform: translateX(190px);
    cursor: pointer;
}

#edit5 {
    margin-right: 10px;
    cursor: pointer;
}

#edit6 {
    margin-left: 10px;
    cursor: pointer;
}

#edit7 {
    transform: translate(11px, 11px);
    cursor: pointer;
}

#edit8 {
    position: absolute;
    transform: translate(75px, -1px);
    cursor: pointer;
}

#confirmYes{
    position: absolute;
    width: 25px;
    height: auto;
    cursor: pointer;
}

#confirmNo{
    position: absolute;
    width: 30px;
    height: auto;
    cursor: pointer;
}

[data-confirm-yes-1] {
    transform: translate(600px, -39px);
}

[data-confirm-no-1] {
    transform: translate(631px, -40px);
}

[data-confirm-yes-2] {
    transform: translate(600px, -66px);
}

[data-confirm-no-2] {
    transform: translate(631px, -68px);
}

[data-confirm-yes-3] {
    transform: translate(600px, -32px);
}

[data-confirm-no-3] {
    transform: translate(631px, -35px);
}

[data-confirm-yes-4] {
    transform: translateX(282px);
}

[data-confirm-no-4] {
    transform: translateX(314px);
}

[data-confirm-yes-5] {
    transform: translateX(66px);
}

[data-confirm-no-5] {
    transform: translateX(97px);
}

[data-confirm-yes-6] {
    transform: translateX(265px);
}

[data-confirm-no-6] {
    transform: translateX(300px);
}

[data-confirm-yes-7] {
    transform: translate(350px, 8px);
}

[data-confirm-no-7] {
    transform: translate(386px, 6px);
}

[data-confirm-yes-8] {
    transform: translate(-20px, 27px);
}

[data-confirm-no-8] {
    transform: translate(21px,26px);
}

.edit-drama-cover-photo-submit-btn {
    z-index: 2;
}

.edit-drama-cover-photo-submit-btn-confirm,
.edit-drama-cover-photo-submit-btn-not-confirm {
    width: 30px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}








/* Other Devices */
@media(max-width:1200px) {

    #castContainer {
        flex-wrap: wrap;
    }
    
    .cast {
        width: 25%;
    }

    .discuss-width {
        width: 70%;
    }

    .separator {
        width: 80%;
    }

    .drama-edit {
        top: 550px;
    }

    [data-confirm-yes-1] {
        transform: translate(130px, -39px);
    }
    
    [data-confirm-no-1] {
        transform: translate(161px, -40px);
    }

    [data-confirm-yes-2] {
        transform: translate(60px, -100px);
    }
    
    [data-confirm-no-2] {
        transform: translate(90px, -103px);
    }

    [data-confirm-yes-3] {
        transform: translate(124px, -32px);
    }
    
    [data-confirm-no-3] {
        transform: translate(154px, -35px);
    }

    [data-confirm-yes-4] {
        transform: translateX(191px);
    }
    
    [data-confirm-no-4] {
        transform: translateX(222px);
    }

    [data-confirm-yes-6] {
        transform: translateX(123px);
    }
    
    [data-confirm-no-6] {
        transform: translateX(155px);
    }

    [data-confirm-yes-7] {
        transform: translate(4px, 118px);
    }
    
    [data-confirm-no-7] {
        transform: translate(36px, 116px);
    }

}

@media(max-width:600px) {
    
    .drama-banner-center {
        height: 800px;
    }
    
    .transparent-layer {
        height: 800px;
    }

    .drama-banner-width {
        flex-wrap: wrap;
    }
    
    .drama-photo-container {
        width: 70%;
        margin: 10px;
    }
    
    .drama-photo {
        width: 100%;
        height: 200px;
    }

    .drama-details-container {
        width: 70%;
        margin: 20px;
    }

    .cast {
        width: 38%;
    }

    .rating-chart {
        width: 85%;
    }

    .discuss-width {
        width: 87%;
    }

    .media-video {
        width: 81%;
        height: 200px;
    }

    .drama-edit {
        top: 750px;
    }

    .video {
        top: 8%;
        left: 5%;
        width: 90%;
    }

    .video-title {
        display: none;
    }

}