/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-image: url("https://statics.tver.jp/images/content/thumbnail/episode/xlarge/ep8kibho4e.jpg?v=35");
    background-position: 0px 60px center;
    background-repeat: no-repeat;
    /* background-size: 100% auto; */
    background-size: cover;
    /* filter: brightness(0.8) contrast(120%); */
}


/* Search Bar */
.search-bar {
    top: 35%;
    width: 50%;
}

.input-group, .form-control {
    height: 45px;
}

.btn {
    width: 60px;
    height: 45px;
    padding: 0;
    border: none;
    background-image: url(/img/icon_search.png);
    background-position: center;
    background-repeat: no-repeat;
}

.search-bar-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 42px;
    font-weight: bold;
}


/* Carousel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-wide {
    width: 1000px;
    margin: 20px;
}

.carousel-item > img {
    cursor: pointer;
}

.card-img-top {
    width: auto;
    height: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-title {
    text-align: center;
}


/* Lastest and Popular Drama List */
.latest-drama-container,
.popular-drama-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-drama-width,
.popular-drama-width {
    width: 1200px;
    margin: 20px;
}

.latest-drama-header,
.popular-drama-header {
    margin: 20px 10px 10px 10px;
    font-size: 25px;
    font-weight: bold;
}

.latest-drama-photo-container,
.popular-drama-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-drama-photo,
.popular-drama-photo {
    flex: auto;
    width: 20%;
    height: 300px;
    margin: 10px;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.latest-drama-photo-individual,
.popular-drama-photo-individual {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.latest-drama-photo-individual-title,
.popular-drama-photo-individual-title {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


/* Timetable */
.timetable-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-width {
    width: 1200px;
    margin: 20px;
}

.timetable-header {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

.timetable {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.timetable-list {
    flex: auto;
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.timetable-list-header {
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

.timetable-list-border {
    margin: 10px 10px 15px 10px;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.timetable-list-photo {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}


/* Other Devices */
@media(max-width:1200px) {

    .latest-drama-photo-container,
    .popular-drama-photo-container {
        flex-wrap: wrap;
    }
    
    .latest-drama-photo,
    .popular-drama-photo {
        width: 25%;
    }

    .timetable {
        flex-wrap: wrap;
    }
    
    .timetable-list {
        width: 20%;
    }

    .timetable-list-title {
        font-size: 15px;
    }

}

@media(max-width:575px) {
        
    .timetable-list {
        width: 90%;
    }

    .latest-drama-photo,
    .popular-drama-photo {
        width: 90%;
    }

}