<!-- Separator -->
<br/><br/><br/><br/>

<!-- Discuss Post -->
<div class="container mx-auto" style="max-width: 1200px;">

    <div id="discussMainHeaderContainer" class="discuss-main-header-container">
        <span id="discussMainHeader"></span>
        <div class="discuss-main-header-underline mx-auto"></div>
    </div>

    <!-- Post -->
    <div id="discussPostContainer" class="discuss-content" style="display:none;">
        <!-- Post content -->
        <div class="discuss-title">
            <div class="discuss-title-user-profile">
                <img id="replyMemberProfilePicture" class="discuss-title-user-profile-picture">
            </div>
            <div class="discuss-title-user-content">
                <div id="discussHeader" class="discuss-post-title"></div>
                <div>
                    <span style="color:rgb(2, 177, 247);">#1</span>
                    <span id="replyMemberName"></span>
                    <span id="discussCreatedTime"></span>
                </div>
            </div>
        </div>
        <div id="discussContent" class="discuss-post"></div>

        <!-- Like and Reply icon -->
        <div class="discuss-reply">
            <img id="discussReplyLike" class="discuss-post-like-click" src="/img/icon_like.png">
            <div id="likePostCount" class="discuss-reply-like-count">0</div>

            <img id="discussReplyQuote" class="discuss-reply-icon-reply" src="/img/icon_reply.png">
            <div class="discuss-reply-quote">引用</div>
        </div>
    </div>

    <!-- Reply -->
    <div id="replyPostContainer"></div>

    <!-- Reply input field -->
    <div id="discussReplyContainer" class="discuss-reply-post-container">
        <textarea id="discussReply" class="discuss-reply-post-input"></textarea>
    </div>

</div>

<!-- Reply button -->
<div class="discuss-reply-btn-container">
    <div id="discussReplyBtnWidth" class="discuss-reply-btn-width">
        <div id="discussReplyBtn" class="discuss-reply-btn mx-auto">回覆</div>
    </div>
    
    <div id="discussCancelBtnWidth" class="discuss-cancel-btn-width">
        <div id="discussCancelBtn" class="discuss-cancel-btn mx-auto">取消</div>
    </div>
</div>

<!-- Pagination bar -->
<ul id="pagination" class="pagination mx-auto d-flex justify-content-center" style="max-width: 1200px;"></ul>

<!-- Chat -->
<div id="chatOuterContainer"></div>

<!-- Separator -->
<br/><br/><br/><br/>