<br/><br/><br/>

<div class="container mx-auto" style="max-width: 1200px;">

    <div class="discuss-post-header">討論劇集：女神的教室</div>

    <div class="discuss-post-title">標題：[女神的教室] 第一集</div>

    <div class="discuss-content">
        <div class="discuss-title">
            <div class="discuss-title-user-profile">
                <img class="discuss-title-user-profile-picture" src="https://www.themoviedb.org/t/p/w45_and_h45_face/qpuUNplRt3TrrEratMUFZiofNWD.jpg">
            </div>
            <div class="discuss-title-user-content">
                <div>Miner 於 2023-01-12 13:40:22 發佈</div>
            </div>
        </div>
        <div class="discuss-post">後半學生們的模擬法庭部份，還滿好看的! 希望每一集都有模擬法庭戲可以看~ </div>
        <div class="discuss-reply">
            <img class="discuss-reply-icon-like" src="/img/icon_like.png">
            <div class="discuss-reply-like-count">1</div>
            <img class="discuss-reply-icon-reply" src="/img/icon_reply.png">
            <div class="discuss-reply-quote">引用</div>
        </div>
    </div>

    <div id="discussReplyContainer" class="discuss-reply-post-container">
        <textarea id="discussReply" class="discuss-reply-post-input"></textarea>
    </div>

</div>

<div class="discuss-reply-btn-container">
    <div id="discussReplyBtnWidth" class="discuss-reply-btn-width">
        <div id="discussReplyBtn" class="discuss-reply-btn mx-auto">回覆</div>
    </div>
    
    <div id="discussCancelBtnWidth" class="discuss-cancel-btn-width">
        <div id="discussCancelBtn" class="discuss-cancel-btn mx-auto">取消</div>
    </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/>
