<div class="nav-bar-container">
    <div class="nav-bar-center">
        <div class="nav-bar-width">
            <div class="nav-bar">
                <div class="nav-bar-left-title">
                    <div class="nav-bar-left-title-web-title">
                        <a class="nav-bar-left-title-web-title-color" href="/">JProgrammer</a>
                    </div>
                    <div class="nav-bar-left-title-drama-list">最新日本劇集</div>
                </div>
                <div class="nav-bar-right-title">
                    <div class="nav-bar-right-title-add-drama">提供劇集資料</div>
                    <div class="nav-bar-right-title-signin">登入</div>
                </div>
            </div>
        </div>
    </div>
</div>