<div class="nav-bar-container">
    <div class="nav-bar-center">
        <div class="nav-bar-width">
            <div class="nav-bar">
                <div class="nav-bar-left-title">
                    <div class="nav-bar-left-title-web-title">
                        <a class="nav-bar-left-title-web-title-color" href="/">
                            <img class="nav-bar-logo" src="/img/logo_2.png">
                        </a>
                    </div>
                    <div class="nav-bar-left-title-drama-list">
                        <img class="nav-bar-left-title-drama-icon" src="/img/icon_drama.png">
                        <div class="nav-bar-left-title-drama-title">最新日本劇集</div>
                    </div>
                </div>
                <div class="nav-bar-right-title">
                    <img class="nav-bar-right-title-add-drama-icon" src="/img/icon_add_drama.png">
                    <div class="nav-bar-right-title-add-drama">提供劇集資料</div>

                    <a href="/signin"><img id="signinIconBtn" class="nav-bar-right-title-signin-icon" src="/img/icon_signin.png"></a>
                    <a href="/signin"><div id="signinBeforeBtn" class="nav-bar-right-title-signin-before">登入</div></a>

                    <a href="/signin"><div id="signinAfterBtn" class="nav-bar-right-title-signin-after" style="display:none;"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>