<br/><br/><br/><br/><br/>

Name: <input id="signupName" type="text"><br/>
Email: <input id="signupEmail" type="text"><br/>
Password: <input id="signupPassword" type="password"><br/>
<button id="handleSignupBtn">Signup</button><br/><br/>

Email: <input id="signinEmail" type="text"><br/>
Password: <input id="signinPassword" type="password"><br/>
<button id="handleSigninBtn">Signin</button><br/><br/>

<button id="handleSignoutBtn">Signout</button>