<div class="drama-banner-center">
    <div class="transparent-layer"></div>
    <div class="drama-banner-width">
        <div class="drama-photo-container">
            <img class="drama-photo" src="https://drive.google.com/uc?id=1K_lTKC6MVt2bC-Z9QLCjmJTlqxTmrNv7">
        </div>
        <div class="drama-details-container">
            <div class="drama-details-title">女神的教室 (2023)</div>
            <div class="drama-details-category">法務、校園</div>
            <div class="drama-details-brief-title">概要</div>
            <div class="drama-details-brief">以法學院為舞臺，法官兼實務家教員的主人公柊木雫（北川景子）和圍繞她的人們一邊互相碰撞自己的價值觀，一邊詢問法律界現有狀態。</div>
            <div class="drama-details-tv">富士電視台</div>
            <div class="drama-details-day-time">
                <span>每週一</span>
                <span>21:00~21:54</span>
                <span>(首播日期: 2023-01-09)</span>
            </div>
            <div class="drama-episode">
                <div class="drama-episode-title">第1話</div>
                <div class="drama-episode-title">第2話</div>
                <div class="drama-episode-title">第3話</div>
                <div class="drama-episode-title">第4話</div>
                <div class="drama-episode-title">第5話</div>
                <div class="drama-episode-title">第6話</div>
                <div class="drama-episode-title">第7話</div>
                <div class="drama-episode-title">第8話</div>
                <div class="drama-episode-title">第9話</div>
                <div class="drama-episode-title">第10話</div>
            </div>
            <div class="drama-edit">編輯</div>
        </div>
    </div>
</div>