<div id="dramaBannerBackgroundPhoto" class="drama-banner-center">
    <div id="transparentLayer" class="transparent-layer"></div>
    <div class="drama-banner-width">
        <div class="drama-photo-container">
            <img id="dramaCoverPhoto" class="drama-photo">
        </div>
        <div id="dramaDetailsFontColor" class="drama-details-container">
            <div id="dramaTitle" class="drama-details-title"></div>
            <div id="dramaCategory" class="drama-details-category"></div>
            <div class="drama-details-brief-title">概要</div>
            <div id="dramaIntroduction" class="drama-details-brief"></div>
            <div id="dramaTV" class="drama-details-tv"></div>
            <li id="dramaDateOfBoardcast" class="drama-details-date-of-boardcast"></li>
            <li class="drama-details-day-time">
                <span id="dramaWeek"></span>
                <span id="dramaTimeOfBoardcast"></span>
            </li>
            <div id="dramaDownload" class="drama-episode"></div>
            <div class="drama-edit">編輯</div>
        </div>
    </div>
</div>