<div class="cast-header-container">
    <img src="/img/icon_edit_black.png" id="edit8" class="individual-edit-btn" style="z-index:2; display:none"></img>
    <img data-confirm-yes-8 src="/img/icon_tick.png" id="confirmYes" class="confirm-btn-edit8" name="edit8" style="z-index:2; display:none"></img>
    <img data-confirm-no-8 src="/img/icon_cross.png" id="confirmNo" class="confirm-btn-edit8" name="edit8" style="z-index:2; display:none"></img>    

    <div class="cast-header-width">
        <div class="cast-header">
            <div>主要演員</div>
            <div class="cast-header-underline"></div>
        </div>
    </div>
</div>
<div class="cast-center">
    <div id="castContainer" class="drama-details-content-edit8"></div>
</div>