<div>
    <div class="rating-container">
        <div class="rating-width">
            <div class="rating">收視率</div>
            <div id="dramaRating" class="rating-chart">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>