<div>
    <div class="cast-header-container">
        <div class="cast-header-width">
            <div class="cast-header">主要演員</div>
        </div>
    </div>

    <div class="cast-center">
        <div id="castContainer" class="cast-container"></div>
    </div>
</div>