<div id="videoContainer" class="video-container">

    <video id="video" class="video" controls></video>

    <img id="videoCloseBtn" class="video-close-btn" src="/img/icon_delete.png" alt="">

    <div id="videoTitle" class="video-title"></div>

    <div class="video-layer"></div>

    <div class="video-navigation-bar-layer"></div>

</div>