<div>
    <div class="media-container">
        <div class="media-width">
            <div class="media">媒體資訊</div>
            <div class="media-video-container">
                <iframe class="media-video" src="https://www.youtube.com/embed/P90avWuEH_U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>