<div class="drama-banner-center">
    <div class="transparent-layer"></div>
    <div class="drama-banner-width">
        <div class="drama-photo-container">
            <img id="dramaCoverPhoto" class="drama-photo">
        </div>
        <div class="drama-details-container">
            <div id="dramaTitle" class="drama-details-title"></div>
            <div id="dramaCategory" class="drama-details-category"></div>
            <div class="drama-details-brief-title">概要</div>
            <div id="dramaIntroduction" class="drama-details-brief"></div>
            <div id="dramaTV" class="drama-details-tv"></div>
            <div class="drama-details-day-time">
                <span id="dramaWeek"></span>
                <span id="dramaTimeOfBoardcast"></span>
                <span id="dramaDateOfBoardcast"></span>
            </div>
            <div class="drama-episode">
                <div class="drama-episode-title">第1話</div>
                <div class="drama-episode-title">第2話</div>
                <div class="drama-episode-title">第3話</div>
                <div class="drama-episode-title">第4話</div>
                <div class="drama-episode-title">第5話</div>
                <div class="drama-episode-title">第6話</div>
                <div class="drama-episode-title">第7話</div>
                <div class="drama-episode-title">第8話</div>
                <div class="drama-episode-title">第9話</div>
                <div class="drama-episode-title">第10話</div>
            </div>
            <div class="drama-edit">編輯</div>
        </div>
    </div>
</div>