<div class="latest-list-container">
    <div class="latest-list-width">
        <div id="latestListContainer" class="latest-list"></div>
    </div>
</div>

<div class="pagination-container">
    <ul id="lastestListPagination" class="pagination">
        <!-- <li id="prevPage" class="page-item disabled">
            <span class="page-link">上一頁</span>
        </li> -->
    </ul>
</div>
