<div class="latest-sortlist-container">
    <div class="latest-sortlist-width">

        <div class="latest-sortlist">
            <div class="latest-sortlist-header">按每週播放</div>
            <div id="latestSortlistAll" class="latest-sortlist-title-all">全部</div>
            <div id="每週一" class="latest-sortlist-title">每週一</div>
            <div id="每週二" class="latest-sortlist-title">每週二</div>
            <div id="每週三" class="latest-sortlist-title">每週三</div>
            <div id="每週四" class="latest-sortlist-title">每週四</div>
            <div id="每週五" class="latest-sortlist-title">每週五</div>
            <div id="每週六" class="latest-sortlist-title">每週六</div>
            <div id="每週日" class="latest-sortlist-title">每週日</div>
        </div>

        <div class="category-list">
            <div class="category-list-header">按類別</div>
            <div id="categoryListAll" class="category-list-title-all">全部</div>
            <div id="小說" class="category-list-title">小說 / 文學改編</div>
            <div id="動漫改編" class="category-list-title">動漫改編</div>
            <div id="愛情" class="category-list-title">愛情</div>
            <div id="料理" class="category-list-title">料理 / 美食</div>
            <div id="喜劇" class="category-list-title">喜劇</div>
        </div>

        <div class="popular-list">
            <div class="popular-list-header">按受歡迎度</div>
            <div id="mostPopularList" class="popular-list-title-all">全部</div>
        </div>
    </div>
</div>